
@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Bahij Helvetica Neue 55 Roman';
    src: url('{{ url("/uploads/font/Neue-Helvetica.ttf") }}') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Bahij Helvetica Neue 55 Roman', sans-serif;
}